@using React.AspNet
@{
    ViewData["Title"] = "Home Page";
}

<div id="content">

</div>

<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://unpkg.com/react-transition-group@2.2.1/dist/react-transition-group.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reactstrap/4.8.0/reactstrap.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script type="module" src="@Url.Content("~/js/App.jsx")"></script>
<script type="module" src="@Url.Content("~/js/UploadImage.jsx")"></script>
<script type="module" src="@Url.Content("~/js/ListWithFacesAndProperties.jsx")"></script>
<script type="module" src="@Url.Content("~/js/SessionList.jsx")"></script>
<script type="module" src="@Url.Content("~/js/WebcamCapture.jsx")"></script>
<script type="module" src="@Url.Content("~/js/Graph.jsx")"></script>
